@import '../../../node_modules/leaflet/dist/leaflet.css';

:host {
  --leaflet-control-layer-toggle-icon: unset;

  display: block;
}

[part='container'] {
  width: 100%;
  height: 100%;
  border: 1px solid balck;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: var(--leaflet-control-layer-toggle-icon);
}
